<!doctype html>
<html lang="en">
  <title>Marktplatz</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <head>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <%-head%>
  </head>
  <body>
    <h1>Marktplatz</h1> <hr>
    <%-body%>
    <%- include views/websockets.ejs %>
    <!-- load page-specific scripts after websockets -->
    <%-scripts%>
  </body>
</html>