<%- contentFor("body")  %>
Authenticated!


<form action="/logout" method="POST">
  <input type="submit" value="logout">
</form>

<%- contentFor("head")  %>

<%- contentFor("scripts")  %>

<script>

  var sessionToken = "<%- user.sessionToken %>"
  var websocketOnOpen = ws.onopen = function() {
    ws.send(JSON.stringify({cmd: "login", sessionToken: sessionToken}))
  }

</script>