<%- contentFor("body") %>
<div id="map"></div>

<%- contentFor("head") %>
<style>
  #map {
    width: 500px;
    height: 500px;
  }
</style>

<%- contentFor("scripts") %>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
 <script src="https://maps.googleapis.com/maps/api/js?key=<%- process.env.GoogleApiKey %>&callback=initMap">
</script>